fastapi==0.110.0
uvicorn==0.29.0
sqlalchemy==2.0.29
psycopg2-binary==2.9.9

python-jose==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1

PyMuPDF==1.23.22

chromadb==1.0.13
sentence-transformers==2.5.1
langchain==0.1.14
langchain-community==0.0.38
langchain-core==0.1.53
langchain-text-splitters==0.0.2
groq

requests==2.32.4
pydantic==2.6.4
python-multipart==0.0.20

streamlit

numpy==1.26.4
scipy==1.16.0
pandas==2.3.0
transformers==4.41.2
torch==2.3.0
tqdm==4.67.1
regex==2024.11.6